{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<section>
    <div class="create-bg">
      <div class="mask">
        {% if object %}
        <img class="create-img" src="{% static 'images/create.jpg' %}" alt="">
        {% else %}
        <img class="create-img" src="{% static 'images/edit.jpg' %}" alt="">
        {% endif %}
      </div>
    </div>
  <div class="form-content">
    {% if object %}
    <h1>Edit {{object.name}}</h1>
  {% else %}
    <h1>Add a Character</h1>
  {% endif %}
    <form action="" method="post" class="form-container">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn submit">Submit!</button>
    </form>
  </div>
</section>


{% endblock %}