{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<section>
    <div class="create-bg">
      <div class="mask">
        <img class="create-img" src="{% static 'images/bye_bg.jpg' %}" alt="">
      </div>
    </div>
  <div class="form-content">
    <h1 style="color: #11296b">Delete {{object.name}}</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <a 
          href="{% url 'character-detail' object.id %}" 
          class="btn cancel"
        >
          Cancel
        </a>
        <button type="submit" class="btn danger active">Yes - Delete!</button>
      </form>
    </form>
  </div>
</section>
{% endblock %}