{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class='about'>
    <div class='about_bg'>
        <div class="mask">
            <img class="about-img" src="{% static 'images/about-img.jpg' %}" alt="">
        </div>
    </div>
  <div class='content'>
    <h1>
      Hi, I'm
      <span><img class="tuan-sign" src="{% static 'images/Tuan_signature_w.png' %}" alt="Tuan's signature"></span>
    </h1>
    <h1 class="about-p">
      really love DragonBall anime.
    </h1>
  </div>
</div>
{% endblock %}