{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block content %}
<div class='home'>
  <div class='home-bg'>
    <div class="mask">
      <img class="home-img" src="{% static 'images/home.jpg' %}" alt="">
    </div>
  </div>
  <div class='content'>
    <img class="balls" src="{% static 'images/7balls.png' %}" alt="Tuan's signature">
    <h1 class="home-p">
      Welcome to Dragon Ball collector
    </h1>
  </div>
</div>
{% endblock  %}