/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #777;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Bangers', sans-serif;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    z-index: 1;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
}

.header-logo-container {
    width: 40%;
}

.header-logo-container img {
    background: none;
    filter: drop-shadow(0 0 1.5rem rgba(255, 217, 15));
    width: 25%;
    transition: .3s;
}

.header-logo-container img:hover {
    background: none;
    filter: drop-shadow(0 0 1.5rem white);
    width: 40%;
}

ul {
    list-style: none;
}

li {
    margin-right: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin-left: 2rem;
    text-transform: uppercase;
    transition: .3s;
    background: none;
}

nav a:hover {
    transform: translateY(.5rem);
    filter: drop-shadow(0 0 1.5rem rgba(255, 217, 15));
    color: rgb(255, 217, 15);
}




/* FOOTER  */

.footer {
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, .95);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bona Nova', sans-serif;
}

.footer-container {
    display: flex;
    width: 100%;
    padding: 2rem;
}


.footer-container .left-container {
    width: 100%;
    margin-right: 10rem;
}

.left-container div {
    margin-top: 1rem;
}

.left-container a {
    /* font-family: 'Bangers', sans-serif; */
    font-size: 2rem;
    color: white;
}

.info {
    margin-left: 1rem;
}

.right-container h2 {
    font-family: 'Bangers', sans-serif;
    font-size: 2rem;
}

.right-container p {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
}

.social-media {
    margin-top: 2rem;
    display: flex;
}

.social-media a {
    color: white;
    margin: 0 1rem;
}

.social-media i {
    font-size: 2.5rem;
}

.footer-icons {
    font-size: 2rem;
    opacity: 0.8;
    transition: .5s;
}

.footer-icons:hover {
    transform: translateY(-.5rem);
    color: rgba(255, 217, 15);
    opacity: 1;
}

.footer-icons.left-icons:hover {
    transform: translateX(.5rem);
    color: rgba(255, 217, 15);
    opacity: 1;
}

.info {
    transition: .5s;
}

.info:hover {
    color: rgba(255, 217, 15);
    padding-left: .5rem;
}

@media screen and (max-width: 1024px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-container .left-container {
        margin: 2rem auto;
    }

    nav ul {
        /* flex-direction: column; */
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    nav a {
        font-size: 1rem;
    }

    .header-logo-container img {
        display: none;
    }
}