/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #777;
}


header {
    font-family: 'Bangers', sans-serif;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    z-index: 1;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

.header-logo-container {
    width: 40%;
}

.header-logo-container img {
    background: none;
    filter: drop-shadow(0 0 1.5rem rgba(255, 217, 15));
    width: 30%;
    transition: .5s;
}

.header-logo-container img:hover {
    background: none;
    filter: drop-shadow(0 0 1.5rem white);
    width: 40%;
}

ul {
    list-style: none;
}

li {
    margin-right: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin-left: 2rem;
    text-transform: uppercase;
    transition: .5s;
    background: none;
}

nav a:hover {
    transform: translateY(.5rem);
    filter: drop-shadow(0 0 1.5rem rgba(255, 217, 15));
    color: rgb(255, 217, 15);
}

@media screen and (max-width: 1024px) {
    nav ul {
        /* flex-direction: column; */
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    nav a {
        font-size: 1rem;
    }

    .header-logo-container img {
        display: none;
    }
}