* {
    background: none;
}

.header-logo-container img {
    width: 20%;
}

.home-content {
    margin-left: 10rem;
}

.mask {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}


.home-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.decs7balls {
    width: 50%;
}

.balls {
    width: 50%;
    filter: drop-shadow(0 0 0.5rem rgba(255, 217, 15, 1));
    animation: spin 15s linear infinite;
    transition: .5s;
}

.balls:hover {
    width: 70%;
    animation: spin 5s linear infinite;
    filter: drop-shadow(0 0 .5rem white);

}

.home-p {
    font-size: 3rem;
    margin-top: 3rem;
}


.home .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Bona Nova', sans-serif;
    position: absolute;
    top: 20%;
    left: 0;
    text-align: center;
    color: white;
}

.form-home-section {
    width: 30%;
}

.form-signin {
    width: 100%;
    border: 1px solid white;
    border-radius: 16px;
    background: rgba(0, 0, 0, .4);
    color: wheat;
}

.form-signin h1 {
    margin: 1rem;
    font-size: 3rem;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 5px;
}

.form-signin label {
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.form-signin input {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    color: wheat;
    background-color: rgba(0, 0, 0, .5);
    margin: 1rem 0 1rem 1rem;
    border: 1px solid white;
    border-radius: 10px;
    font-family: 'Bona Nova', sans-serif;
}

.btn.sm {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-left: 60%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}