 * {
 	background: none;
 }

 nav a {
 	color: black;
 }

 body {
 	background-color: #333;
 }

 .footer {
 	display: none;
 }

 .header-logo-container img {
 	width: 30%;
 }

 .chars-img {
 	width: 100%;
 	height: 100%;
 	background-size: cover;
 	background-position: center;
 	object-fit: cover;
 }

 .mask {
 	width: 100%;
 	height: 100%;
 	position: relative;
 }


 .mask::after {
 	content: "";
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	background: #000;
 	opacity: 0.3;
 }

 .page-header {
 	position: absolute;
 	top: 5rem;
 	font-family: 'Bangers', sans-serif;
 	font-size: 3rem;
 	color: rgb(255, 217, 15);
 	filter: drop-shadow(0 0 2rem red);
 	/* font-family: 'Bona Nova', sans-serif; */
 }

 .card-container {
 	position: relative;
 	width: 80%;
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 }

 .chars-content {
 	position: absolute;
 	width: 100%;
 	margin-top: 3rem;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-self: center;
 }

 .card {
 	width: 275px;
 	margin: 10px;
 	border: 1px solid yellow;
 	border-radius: 10px;
 	margin: 2rem;
 	backdrop-filter: blur(5px);
 	color: #FFDFDF;
 	transition: .5s;
 }

 .card:hover {
 	transform: translate(1rem, -0.5rem);
 	box-shadow: 0 0 3rem white;
 }


 .card-content {
 	padding: 10px;
 	width: 100%;
 }

 .card-content h2 {
 	margin: 0.5rem 0;
 }

 .card-content p {
 	text-align: justify;
 	padding: 5px;
 }

 .card-img-container {
 	width: 100%;
 	padding: 1rem;
 	margin-bottom: 1rem;
 	filter: drop-shadow(0 0 1rem rgb(255, 217, 15));
 }

 .card-img-container img {
 	width: 100%;
 }

 .card-decs {
 	padding: 2rem;
 }


 @media screen and (max-width: 1024px) {
 	.card-container {
 		width: 100%;
 	}
 }