.footer {
    display: none;
}

.detail-header {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
}

nav a {
    color: white;
}

.detail-name {
    margin: 15% 0 0 12%;
    font-family: 'Bangers', sans-serif;
    font-size: 8rem;
    color: rgb(255, 217, 15);
    filter: drop-shadow(0 0 2.5rem red);
    animation: changeColor 5s ease-in-out alternate infinite;
}

.detail-decs {
    width: 100%;
}

.detail-decs h2 {
    margin: 2rem 0 0 12%;
    font-size: 4rem;
    font-family: 'Bangers', sans-serif;
}

.detail-decs p {
    margin: 2rem 0 0 12%;
    padding-right: 4rem;
    font-size: 2rem;
    text-align: justify;
    font-family: 'Bona Nova', sans-serif;
}

.char-actions {
    display: flex;
    justify-content: right;
}

.char-actions a {
    margin-top: 2rem;
    margin-right: 4rem;
    color: black;
}

.char-actions a:hover {
    background: #777;
}
